* {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
}

section {
    display: grid;
    align-self: center;
    justify-items: center;
    align-items: center;
}

.setup {
    grid-template-columns: 1fr 12rem;
}

.battlefield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: 2rem 30.5rem;
    grid-template-rows: 2rem 2rem 1fr 2rem;
    padding: 0 2rem 1rem 0;
}

h2 {
    grid-area: 1 / 2 / 2 / -1;
    text-align: center;
}

.labels {
    display: grid;
    justify-items: center;
    gap: 1px;
}

.labels:nth-of-type(1) {
    grid-template-columns: repeat(10, 3rem);
    grid-area: 2 / 2;
    align-items: end;
}

.labels:nth-of-type(2) {
    grid-area: 3 / 1 / -2 / 2;
    align-items: center;
    justify-items: right;
    padding-right: 4px;
}

.field {
    grid-area: 3 / 2 / -2 / -1;
    display: grid;
    grid-template: repeat(10, 3rem) / repeat(10, 3rem);
    grid-auto-columns: 3rem;
    gap: 1px;
    background-color: white;
}

.field div {
    background-color: lightskyblue;
}

.shot::after {
    content: "";
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hit::after {
    background-color: red;
}

.missed::after {
    background-color: blue;
}

.field img {
    align-self: center;
    object-fit: cover;
    width: 95%;
    max-height: 85%;
    justify-self: center;
}

.wharf {
    display: grid;
    text-align: center;
}

.yard {
    display: flex;
    width: 30rem;
    height: 8rem;
}

.yard h3 {
    writing-mode: vertical-rl;
    transform: scale(-1);
}

.yard .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    margin: 0 1rem 0 1rem;
}

.graveyard span {
    text-align: center;
    letter-spacing: 1px;
}

.sunken {
    filter: opacity(0.3);
}

.ship-wrapper {
    background-color: lightskyblue;
    height: 8rem;
    margin: 0.5rem;
    display: grid;
    grid-template: 4rem / 8rem;
    gap: 5px;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.wharf img {
    transform: scale(0.25);
}

.controls {
    grid-area: 4 / 1 / -1 / -1;
    display: flex;
    align-items: end;
    justify-content: center;
}

.controls button {
    margin-left: 1rem;
}